{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__img">
                <img src={% static "myapp/img/google2.png" %}>
                <img src={% static "myapp/img/inst2.png" %}>
                <img src={% static "myapp/img/lodo2.png" %}>
            </div>
            <p class="footer__text">ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099 <br> © 2018-2021</p>
            <a href="#" class="footer__cookies">Политика в отношении обработки <br> персональных данных</a>
            <img class="footer__logo" src={% static "myapp/img/logo.svg" %}>
        </div>
    </div>
</footer>